<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzJNauYsv75dPeTk_wdnXQfFi0chEaGzw</string>
	<key>GCM_SENDER_ID</key>
	<string>773908168216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.purusLernApp</string>
	<key>PROJECT_ID</key>
	<string>purus-lern-app</string>
	<key>STORAGE_BUCKET</key>
	<string>purus-lern-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773908168216:ios:5f900440c1f54f9f194d6d</string>
</dict>
</plist>